$primary: #CD1D1D
$info: adjust-hue($primary, 200)
$warning: adjust-hue($primary, 30)
$code: lighten(adjust-hue($primary, 320), 20)
$dark: #171717

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap')

*
  scrollbar-width: thin


  &::-webkit-scrollbar
    width: 16px


  &::-webkit-scrollbar-track
    background: transparent


  &::-webkit-scrollbar-thumb
    border-radius: 0
    border:
      top: 4px solid
      bottom: 4px solid
      left: 0 solid
      right: 4px solid


body
  background-color: $dark

p > code
  color: $code !important

#title
  font-family: 'Oleo Script Swash Caps', cursive
  font-size: 6rem
  text-align: center
  position: relative
  text-shadow: 4px 3px 0 transparentize(darken($primary, 10), .5), 6px 6px 6px transparentize(darken($primary, 30), .5)

  & > span
    font-size: 1.5rem
    position: absolute
    right: 1rem
    opacity: .6
    text-shadow: none

  a
    color: $primary !important
    text-decoration: none

#codes
  display: flex
  flex-direction: column
  width: 100%

  .codebox
    width: 100%

  pre
    margin: .5rem
    overflow: hidden
    font-family: "Fira code", monospace !important

    code
      display: block
      width: 100%

#right, #left
  &-side
    height: 100vh
    overflow-y: auto
    overflow-x: hidden
    margin: 0


#right-side
  background-color: $primary
  padding: 1rem
  scrollbar-color: $dark transparent

  &::-webkit-scrollbar-thumb
    background-color: $dark
    border-color: $primary

  ul
    display: flex
    flex-direction: column
    align-items: center
    list-style-type: none
    padding: 0
    margin: 0

    li
      padding: 0
      width: 100%
      text-align: center
      position: relative
      outline: 2px solid $dark
      border: 2px solid $primary

      &:not(:first-child)
        margin-top: calc(1rem + 4px)

      a
        display: block
        padding: 1rem
        text-decoration: none
        color: $dark
        text-transform: uppercase
        position: relative
        overflow: hidden

        &::before
          content: ""
          pointer-events: none
          position: absolute
          background-color: $dark
          height: 500px
          width: 6px
          top: 50%
          left: 50%
          transform: translate(-50%, -50%) rotate(30deg) scale(0)
          transition: all .5s ease-in-out
          @media screen and (max-width: 960px)
            width: 1.5vw

        &::after
          content: attr(data-content)
          pointer-events: none
          position: absolute
          color: $primary
          top: 0
          bottom: 0
          right: 0
          left: 0
          padding: 1rem
          font-weight: bold
          transition: all .3s ease-in-out
          transform: translateY(100%) rotate(-10deg) scale(0)
          opacity: 0
          display: flex
          justify-content: center
          align-items: center


      a:hover, &.active a
        &::before
          transform: translate(-50%, -50%) rotate(0deg) scale(80)

        &::after
          opacity: 1
          transform: translateY(0) rotate(0deg) scale(1.2)

#left-side
  position: relative
  scrollbar-color: $primary transparent

  &::-webkit-scrollbar-thumb
    background-color: $primary
    border-color: $dark

  p:not(#title)
    a
      color: $primary !important
      text-decoration: none
      font-weight: bold
      position: relative

      &::before
        position: absolute
        content: attr(data-value)
        left: -.2em
        right: -.2em
        top: 100%
        bottom: -.15em
        background-color: $primary
        color: $dark
        transition: top 250ms ease-in-out
        pointer-events: none
        text-align: center
        overflow: hidden

      &:hover
        &::before
          top: -.15em

  #markdown-content
    padding-bottom: 5rem

    h2
      color: $primary
      display: block
      font-size: 2.5rem
      position: relative

    div:not(:first-child) > h2
      margin-top: 3rem

  .alert
    border: none
    border-radius: 0
    background-color: $warning
    color: $dark

#top
  position: absolute
  top: 0
  right: 0
  padding: 1rem

  a
    svg
      height: 3rem

.example-code
  display: flex
  width: 100%

  pre[class*=language-]
    width: 50%
    margin: .5em .25rem .5em 0
    scrollbar-color: $primary transparent

    &::-webkit-scrollbar-thumb
      background-color: $primary
      border-top: 0
      border-left: 4px solid
      border-color: #2d2d2d

    &:not(:first-child)
      margin: .5em 0 .5em .25rem