@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap");
* {
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 16px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0;
  border-top: 4px solid;
  border-bottom: 4px solid;
  border-left: 0 solid;
  border-right: 4px solid;
}

body {
  background-color: #171717;
}

p > code {
  color: #e967be !important;
}

#title {
  font-family: "Oleo Script Swash Caps", cursive;
  font-size: 6rem;
  text-align: center;
  position: relative;
  text-shadow: 4px 3px 0 rgba(160, 23, 23, 0.5), 6px 6px 6px rgba(71, 10, 10, 0.5);
}
#title > span {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  opacity: 0.6;
  text-shadow: none;
}
#title a {
  color: #CD1D1D !important;
  text-decoration: none;
}

#codes {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#codes .codebox {
  width: 100%;
}
#codes pre {
  margin: 0.5rem;
  overflow: hidden;
  font-family: "Fira code", monospace !important;
}
#codes pre code {
  display: block;
  width: 100%;
}

#right-side, #left-side {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
}

#right-side {
  background-color: #CD1D1D;
  padding: 1rem;
  scrollbar-color: #171717 transparent;
}
#right-side::-webkit-scrollbar-thumb {
  background-color: #171717;
  border-color: #CD1D1D;
}
#right-side ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#right-side ul li {
  padding: 0;
  width: 100%;
  text-align: center;
  position: relative;
  outline: 2px solid #171717;
  border: 2px solid #CD1D1D;
}
#right-side ul li:not(:first-child) {
  margin-top: calc(1rem + 4px);
}
#right-side ul li a {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: #171717;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
#right-side ul li a::before {
  content: "";
  pointer-events: none;
  position: absolute;
  background-color: #171717;
  height: 500px;
  width: 6px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(30deg) scale(0);
  transition: all 0.5s ease-in-out;
}
@media screen and (max-width: 960px) {
  #right-side ul li a::before {
    width: 1.5vw;
  }
}
#right-side ul li a::after {
  content: attr(data-content);
  pointer-events: none;
  position: absolute;
  color: #CD1D1D;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  transform: translateY(100%) rotate(-10deg) scale(0);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#right-side ul li a:hover::before, #right-side ul li.active a::before {
  transform: translate(-50%, -50%) rotate(0deg) scale(80);
}
#right-side ul li a:hover::after, #right-side ul li.active a::after {
  opacity: 1;
  transform: translateY(0) rotate(0deg) scale(1.2);
}

#left-side {
  position: relative;
  scrollbar-color: #CD1D1D transparent;
}
#left-side::-webkit-scrollbar-thumb {
  background-color: #CD1D1D;
  border-color: #171717;
}
#left-side p:not(#title) a {
  color: #CD1D1D !important;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}
#left-side p:not(#title) a::before {
  position: absolute;
  content: attr(data-value);
  left: -0.2em;
  right: -0.2em;
  top: 100%;
  bottom: -0.15em;
  background-color: #CD1D1D;
  color: #171717;
  transition: top 250ms ease-in-out;
  pointer-events: none;
  text-align: center;
  overflow: hidden;
}
#left-side p:not(#title) a:hover::before {
  top: -0.15em;
}
#left-side #markdown-content {
  padding-bottom: 5rem;
}
#left-side #markdown-content h2 {
  color: #CD1D1D;
  display: block;
  font-size: 2.5rem;
  position: relative;
}
#left-side #markdown-content div:not(:first-child) > h2 {
  margin-top: 3rem;
}
#left-side .alert {
  border: none;
  border-radius: 0;
  background-color: #cd751d;
  color: #171717;
}

#top {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}
#top a svg {
  height: 3rem;
}

.example-code {
  display: flex;
  width: 100%;
}
.example-code pre[class*=language-] {
  width: 50%;
  margin: 0.5em 0.25rem 0.5em 0;
  scrollbar-color: #CD1D1D transparent;
}
.example-code pre[class*=language-]::-webkit-scrollbar-thumb {
  background-color: #CD1D1D;
  border-top: 0;
  border-left: 4px solid;
  border-color: #2d2d2d;
}
.example-code pre[class*=language-]:not(:first-child) {
  margin: 0.5em 0 0.5em 0.25rem;
}

/*# sourceMappingURL=main.css.map */
